<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>BenViu - Barcelona en Vivo</title>
    </head>

    <body>
         <img src="{% static "rock4.png" %}" alt="Picture of Rango" />
         
         <h1>BenViu says...hello world!</h1>

        {% if locales %}
            <ul>
                {% for local in locales %}
                <li>{{ local.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No hay locales presente.</strong>
        {% endif %}
        
        <img src="{% static "hand52.png" %}" alt="Picture of Rango" />
         
         <div>Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a></div>
    </body>

</html>
